/* CSS Document */

*{
	padding:0px;
	margin:0px auto;
	}
body{
	margin-top:15px;
	 
	 font:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	 background-color:/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+47,ededed+100;White+3D+%231 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */

	}
	
	.header
		{
		height:280px;
		text-align:center;		
		}
	
		
		b{
			font-size:40px;
			color:black;
			
			}
		p{
			font-size:30px;
			color:black;
						
			}
			.topmenu
			{
				text-decoration:none;
				height:30px;
				text-align:right;
				padding-right:40px;
				
				font-size:20px;
				padding-top:03px;
				background-color:/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f9ff+0,cbebff+47,a1dbff+100;Blue+3D+%2313 */
background: #f0f9ff; /* Old browsers */
background: -moz-linear-gradient(top,  #f0f9ff 0%, #cbebff 47%, #a1dbff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */

				
			}
			.topmenu a
			{				
				text-decoration:none;
				padding:2px;				
				}
			
		.main
		{
			background-color:/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+47,ededed+100;White+3D+%231 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */




			
			/*min-height:800px;
			max-height:1200px;
			height:auto;*/
			width:1000px;
			
			margin-top:-60px;
			border-radius:20px 20px 0px 0px;			
			}
			
			.menu
			{
				height:40px;				
				text-align:right;
				font-size:20px;
				background-color:/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f9ff+0,cbebff+47,a1dbff+100;Blue+3D+%2313 */
background: #f0f9ff; /* Old browsers */
background: -moz-linear-gradient(top,  #f0f9ff 0%, #cbebff 47%, #a1dbff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */

			}
			/*
				.menu a
				{
					text-decoration:none;
					padding-top:03px;
					padding-right:4px;
					
				}
					
				.menu a:hover
				{
					color:rgba(74,216,90,1.00);
					font-style:italic;
					background:#B8ED92;
				}
				
				*/
				
.menu a
{
	font-size:20px;
	font-weight:bold;
	text-decoration:none;
	margin:1px;
	font-style:italic;
	padding:5px;
	padding-left:20px;

}
.menu a:hover
{
	background-color:white;
	color:rgba(118,75,76,0.95);
	transform:rotate(10deg);
	transition:linear 0.8s;
	border-radius:100px/100px;
	border:red solid 0.5px;
	}

				
				.content
				{
					margin-left:10px;
					min-height:800px;
					max-height:auto;
					overflow:hidden;
					height:auto;
					}	
					
					
					
					
					table{
						float:none;
						
						margin-top:5px;
						min-width:600px;
						max-width:900px;
						width:auto;
						margin-bottom:5px;	
					/*	min-height:600px;
						max-height:1200px;
						height:auto;
						overflow:hidden; */
						}
						
						th{
							background-color:black;
							color:white;
							font-size:16px;
							text-align:left;
							padding:3px;
							}
							tr:nth-child(odd)
							{
								background-color:rgba(134,14,195,0.30);
								
								}
								tr:nth-child(even)
							{
								background-color:rgba(42,130,156,0.30);
	
								}
								
								td{
									padding:3px;
									}
							
						.title{
							
							color:black;
							padding:3px;
							font-size:20px;
							
							}
													
		.footer
		{
		height:80px;
		margin-bottom:5px;
		text-align:center;	
		background-color:/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f9ff+0,cbebff+47,a1dbff+100;Blue+3D+%2313 */
background: #f0f9ff; /* Old browsers */
background: -moz-linear-gradient(top,  #f0f9ff 0%, #cbebff 47%, #a1dbff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */
		}
		
		
		.photo{
			height:0px;
			width:60px;
			margin-left:50px;
			float:left;
			}
		

		
	@media only screen and(max-width: 900px)
	{
		.main
		{
			background-color:rgba(14,243,47,1.00);
			min-height:400px;
			overflow:hidden;
			height:auto;
			width:90%;
			margin-top:-40px;
			border-radius:20px 20px 0px 0px;
			
		}
		
	}	
